@page "/importdata"
@using BlazorUI.Shared
@using System.Net.Http;
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to the importer.

<h1 style="font-style:@_headingFontStyle">@_headingText</h1>

<button type="button" class="btn btn-primary" @onclick="StartImport">
    Update heading
</button>

@if (string.IsNullOrEmpty(imports))
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@imports</p>
}

@code {
    private string _headingFontStyle = "italic";
    private string _headingText = "Put on your new Blazor!";
    public string imports;
    public HttpResponseMessage _importResponse;

    public async Task StartImport()
    {
        //_importResponse = await Http.GetAsync("imports/test");
        _importResponse = await Http.PostAsync("imports/startimport", null);
        imports = await _importResponse.Content.ReadAsStringAsync();
    }
}
