* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  padding: 1em;
  background-color: #FCFCFC;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.05em;
}

h6 {
  font-size: 1em;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

pre, code {
  white-space: pre;
  font-family: Consolas, monospace;
}

p {
  margin-top: 1em;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #F37A21;
  text-decoration: underline;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}